header {
  text-align: center;
  margin-bottom: 0;
  padding: 1rem 0;
  background: var(--gradient);
  color: white;
  box-shadow: 0 4px 6px -1px var(--shadow-color);
}

header h1 {
  color: #fefefe;
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-left: 150px;
}
