body {
  margin: 0;
  color: #f1f1f1;
  background-color: #101218;
}

header {
  height: 80px;
  text-align: center;
  padding: 20px 0;
  margin-left: 90px;
  border-bottom: 2px solid #8b8b8b88;
}

header h1 {
  font-size: 80px;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 35px;
  padding: 20px;
  margin-left: 100px;
}

.Card {
  background-color: #1a1d24;
  border-radius: 15px;
  padding: 22px;
  width: 240px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Card:hover {
  transform: translateY(-10px);
}

.Card img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.Card h2 {
  color: #f1f1f1;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.Card p {
  color: #8b8b8b;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
