<nav id="navBar">
  <ul>
    <a href="/menu/<%= user.email %>"
      ><li class="transUp"><img src="/assets/home.png" alt="Home" /></li>
    </a>

    <a href="/config/<%= user.email %>">
      <li class="transUp"><img src="/assets/setting.png" alt="settings" /></li>
    </a>

    <a href="#"
      ><li class="transUp"><img src="/assets/help.png" alt="help" /></li
    ></a>
  </ul>
</nav>

<!-- <li class="transUp">about</li>
    <li class="transUp">contact</li
    ><li class="transUp">services</
    ><li class="transUp">portfolio</li>
    <li class="transUp">blog</li>
    <li class="transUp">login</li>
    <li class="transUp">register</li
    ><li class="transUp">logout</li
    ><li class="transUp">profile</li> -->
