<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </head>
  <body>
    <%- include ("./template/nav.ejs")%>

    <header>
      <h1>ImSelf</h1>
    </header>

    <main>
      <a href="/habitTracker">
        <div class="Card">
          <img src="/assets/calendar.png" alt="Habit Tracker Icon" />
          <h2>Habit tracker</h2>
          <p>
            Track and build your daily habits and have control of the progress.
          </p>
        </div>
      </a>

      <a href="/projects">
        <div class="Card">
          <img src="/images/icon.png" alt="Projects Icon" />
          <h2>Projects</h2>
          <p>Algunas cosas que peudes hacer Algunas cosas que peudes hacer</p>
        </div>
      </a>

      <a href="/objectives">
        <div class="Card">
          <img src="/images/icon.png" alt="Objectives Icon" />
          <h2>Objetives</h2>
          <p>Some things you can do</p>
        </div>
      </a>

      <a href="/school">
        <div class="Card">
          <img src="/images/icon.png" alt="School Icon" />
          <h2>School</h2>
          <p>Algunas cosas que peudes hacer</p>
        </div>
      </a>

      <a href="/notes">
        <div class="Card">
          <img src="/images/icon.png" alt="Notes Icon" />
          <h2>Notes</h2>
          <p>Algunas cosas que peudes hacer</p>
        </div>
      </a>
    </main>
  </body>
</html>
